@import "../common/globalVars";

.tds () {
	vertical-align: middle;
}

.status-tds () {
	.tds ();
	width: 120px;
	text-align: right;
}

.action-tds () {
	.tds ();
	width: 35px;
	text-align: center;
}

