@import "../common/globalVars.less";

#content-right-header-div {
	position: absolute;
	right: 25px;
	top: 64px;
		
	a {	
		text-decoration: none;
		padding: 0 5px 0 5px;
		border-left: 1px solid @control-color;
		
		&:hover {
			text-decoration: underline;
		}
		
		&:nth-of-type(1) {
			border-left: 0;
		}
		
		&.startnewcategory {
			border-left: 4px double @control-color;
		}
	}
}