@import "../common/globalVars.less";

html, body {
	margin:0;
	padding:0;
	height:100%;
	
	color: @foreground-color;	
}

#content {
	min-width: 800px;
	min-height: 100%;
	position: relative;	
}

#top-content {
	border-bottom: 3px solid @control-color;
	display: block;
	padding: 10px 25px;
	font-size: 18px;
	.header-menu {		
		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
		}

		> a {
			float: left;
			margin-right: 15px;
			padding: 5px 0;
			width: 150px;
			background: @control-color;
			border: 2px solid @control-color;
			text-decoration: none;
			font-weight: bolder;
			> span {
				display: block;
				text-align: center;
			}

			&:hover {
				background: @foreground-color;
				color: @background-color;
			}
		}
	}
	
	.header-user-panel {
		position: absolute;
		right: 25px;
		top: 16px;
	}
}

#middle-content {
	padding: 5px;
	padding-bottom: 46px;
	min-height: 200px;
}

#footer-content {	
	width: 100%;
	position: absolute;
	padding: 10px 0;
	bottom: 0;
	left: 0;
	border-top: 3px solid @control-color;
	text-align: center;
}


a {
	text-decoration: none;
	color: @foreground-color;	
	
	&:hover {
		text-decoration: underline;
	}
}	
